In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [2]:
df=pd.read_csv('south_africa_training_set.csv')
pd.set_option('display.max_columns',85)

In [3]:
df.head()

,Unnamed: 0,target,hashed_user_id,regist_date,is_bind_card,lastorder_usecase,lastorder_platform,lastorder_orderdate,subtotal_amount_today_daily,subtotal_amount_recent_7days,subtotal_amount_recent_30days,subtotal_ordercount_today_daily,subtotal_ordercount_recent_7days,subtotal_ordercount_recent_30days,nr_interactions,nr_days_interacted,max_date_time,nr_unique_pages_visited,search_events,unique_search_terms,unique_app_visits,unique_app_category_visits,year_month
0,0,active,-1000772633524872632,2022-12-30,0,-1,-1,NaN,0.0,0.0,0.0,0,0,0,15,1,2022-12-30,6,0,0,2,1,202212
1,1,inactive,-1000772633524872632,2022-12-30,0,-1,-1,NaN,0.0,0.0,0.0,0,0,0,11,2,2023-01-20,2,0,0,2,1,202301
2,2,inactive,-1006559301419582051,2022-08-15,0,-1,-1,NaN,0.0,0.0,0.0,0,0,0,4,1,2022-12-06,2,0,0,1,0,202212
3,3,inactive,-1006671521575354929,2023-01-03,0,-1,-1,NaN,0.0,0.0,0.0,0,0,0,35,1,2023-01-03,17,0,0,3,2,202301
4,4,inactive,-1008193142447905044,2021-10-16,1,-1,-1,NaN,0.0,0.0,0.0,0,0,0,158,3,2022-11-21,12,0,0,7,5,202211

In [4]:
df['max_date_time']=pd.to_datetime(df['max_date_time'])
df['regist_date']=pd.to_datetime(df['regist_date'])
df['lastorder_orderdate']=pd.to_datetime(df['lastorder_orderdate'])

In [5]:
df['target'] = df['target'].map({'active': 1, 'inactive': 0})

In [6]:
df['lastorder_platform']=df['lastorder_platform'].replace(to_replace='-1',value=0, regex=True)
df['transaction_platform']=df['lastorder_platform'].replace(to_replace='electrum',value=1, regex=True)

In [7]:
#replace the -1s with NaN
df=df.replace(to_replace='-1',value=np.nan, regex=True)

In [8]:
df['lastorder_usecase'] = df['lastorder_usecase'].replace(np.nan, 0)
df['transaction_classification'] = df['lastorder_usecase'].replace(['MOBILE', 'MINI-PROGRAM', 'PPU', 'DSTV', 'EASYPAY', 'CSB',
       'BOXOFFICE'],[1,1,1,1,1,1,1])

In [9]:
df['lastorder_usecase'].unique()

array([0, 'MOBILE', 'MINI-PROGRAM', 'PPU', 'DSTV', 'EASYPAY', 'CSB',
       'BOXOFFICE'], dtype=object)

In [10]:
df_active=df.query('target==1')
df_active.head(10)

,Unnamed: 0,target,hashed_user_id,regist_date,is_bind_card,lastorder_usecase,lastorder_platform,lastorder_orderdate,subtotal_amount_today_daily,subtotal_amount_recent_7days,subtotal_amount_recent_30days,subtotal_ordercount_today_daily,subtotal_ordercount_recent_7days,subtotal_ordercount_recent_30days,nr_interactions,nr_days_interacted,max_date_time,nr_unique_pages_visited,search_events,unique_search_terms,unique_app_visits,unique_app_category_visits,year_month,transaction_platform,transaction_classification
0,0,1,-1000772633524872632,2022-12-30,0,0,0,NaT,0.0,0.0,0.0,0,0,0,15,1,2022-12-30,6,0,0,2,1,202212,0,0
6,6,1,-1020500780636001202,2022-04-07,1,MOBILE,electrum,2022-10-19,0.0,0.0,41.0,0,0,2,393,17,2022-10-24,20,0,0,4,2,202210,1,1
7,7,1,-1020500780636001202,2022-04-07,1,MOBILE,electrum,2022-11-29,0.0,11.0,66.0,0,2,3,391,15,2022-11-30,20,0,0,5,3,202211,1,1
8,8,1,-1020500780636001202,2022-04-07,1,MOBILE,electrum,2022-12-18,0.0,0.0,12.0,0,0,1,241,12,2022-12-25,17,0,0,3,2,202212,1,1
10,10,1,-1025425308758786705,2021-11-21,1,MOBILE,electrum,2022-11-15,0.0,0.0,2.0,0,0,2,112,5,2022-11-20,17,0,0,1,0,202211,1,1
14,14,1,-1035723040212708714,2022-03-08,0,0,0,NaT,0.0,0.0,0.0,0,0,0,6,1,2022-12-14,4,0,0,1,0,202212,0,0
18,18,1,-1039324446190480117,2022-10-11,1,MOBILE,electrum,2022-10-31,349.0,508.0,667.0,1,2,3,428,14,2022-10-31,26,0,0,3,2,202210,1,1
19,19,1,-1039324446190480117,2022-10-11,1,MOBILE,electrum,2022-11-28,0.0,648.0,807.0,0,2,3,232,7,2022-11-29,12,0,0,2,2,202211,1,1
20,20,1,-1039324446190480117,2022-10-11,1,MOBILE,electrum,2022-12-31,398.0,697.0,697.0,3,4,4,160,5,2022-12-31,15,0,0,3,2,202212,1,1
24,24,1,-1042614637104759781,2022-03-25,1,0,0,NaT,0.0,0.0,0.0,0,0,0,8,1,2022-10-07,5,0,0,1,0,202210,0,0

In [11]:
df_inactive=df.query('target==0')
df_inactive.head(10)

,Unnamed: 0,target,hashed_user_id,regist_date,is_bind_card,lastorder_usecase,lastorder_platform,lastorder_orderdate,subtotal_amount_today_daily,subtotal_amount_recent_7days,subtotal_amount_recent_30days,subtotal_ordercount_today_daily,subtotal_ordercount_recent_7days,subtotal_ordercount_recent_30days,nr_interactions,nr_days_interacted,max_date_time,nr_unique_pages_visited,search_events,unique_search_terms,unique_app_visits,unique_app_category_visits,year_month,transaction_platform,transaction_classification
1,1,0,-1000772633524872632,2022-12-30,0,0,0,NaT,0.0,0.0,0.0,0,0,0,11,2,2023-01-20,2,0,0,2,1,202301,0,0
2,2,0,-1006559301419582051,2022-08-15,0,0,0,NaT,0.0,0.0,0.0,0,0,0,4,1,2022-12-06,2,0,0,1,0,202212,0,0
3,3,0,-1006671521575354929,2023-01-03,0,0,0,NaT,0.0,0.0,0.0,0,0,0,35,1,2023-01-03,17,0,0,3,2,202301,0,0
4,4,0,-1008193142447905044,2021-10-16,1,0,0,NaT,0.0,0.0,0.0,0,0,0,158,3,2022-11-21,12,0,0,7,5,202211,0,0
5,5,0,-1008849587519297040,2022-12-18,0,0,0,NaT,0.0,0.0,0.0,0,0,0,11,1,2022-12-18,4,0,0,2,2,202212,0,0
9,9,0,-1020500780636001202,2022-04-07,1,MOBILE,electrum,2022-12-18,0.0,0.0,0.0,0,0,0,86,5,2023-01-28,11,0,0,2,1,202301,1,1
11,11,0,-1025425308758786705,2021-11-21,1,MOBILE,electrum,2022-11-15,0.0,0.0,0.0,0,0,0,15,1,2022-12-02,8,0,0,1,0,202212,1,1
12,12,0,-1030341130419364162,2022-11-08,0,0,0,NaT,0.0,0.0,0.0,0,0,0,18,1,2022-11-08,5,0,0,2,1,202211,0,0
13,13,0,-1031756872652502710,2022-12-03,0,0,0,NaT,0.0,0.0,0.0,0,0,0,11,2,2022-12-13,5,0,0,2,1,202212,0,0
15,15,0,-1035723040212708714,2022-03-08,0,0,0,NaT,0.0,0.0,0.0,0,0,0,10,1,2023-01-17,4,0,0,2,1,202301,0,0

In [12]:
df.head()

,Unnamed: 0,target,hashed_user_id,regist_date,is_bind_card,lastorder_usecase,lastorder_platform,lastorder_orderdate,subtotal_amount_today_daily,subtotal_amount_recent_7days,subtotal_amount_recent_30days,subtotal_ordercount_today_daily,subtotal_ordercount_recent_7days,subtotal_ordercount_recent_30days,nr_interactions,nr_days_interacted,max_date_time,nr_unique_pages_visited,search_events,unique_search_terms,unique_app_visits,unique_app_category_visits,year_month,transaction_platform,transaction_classification
0,0,1,-1000772633524872632,2022-12-30,0,0,0,NaT,0.0,0.0,0.0,0,0,0,15,1,2022-12-30,6,0,0,2,1,202212,0,0
1,1,0,-1000772633524872632,2022-12-30,0,0,0,NaT,0.0,0.0,0.0,0,0,0,11,2,2023-01-20,2,0,0,2,1,202301,0,0
2,2,0,-1006559301419582051,2022-08-15,0,0,0,NaT,0.0,0.0,0.0,0,0,0,4,1,2022-12-06,2,0,0,1,0,202212,0,0
3,3,0,-1006671521575354929,2023-01-03,0,0,0,NaT,0.0,0.0,0.0,0,0,0,35,1,2023-01-03,17,0,0,3,2,202301,0,0
4,4,0,-1008193142447905044,2021-10-16,1,0,0,NaT,0.0,0.0,0.0,0,0,0,158,3,2022-11-21,12,0,0,7,5,202211,0,0

In [13]:
df.duplicated(subset=['hashed_user_id','regist_date','max_date_time']).unique()

KeyboardInterrupt:

In [ ]:
df['hashed_user_id'] = df['hashed_user_id'].abs()

In [ ]:
df['Avg_interactions_per_day'] = df['nr_interactions']/df['nr_days_interacted']

In [ ]:
df['Avg_apps_per_cat_visited'] = df['unique_app_visits']/df['unique_app_category_visits']

In [ ]:
#df['Avg_spend_per_order_30days'] = df['subtotal_amount_recent_30days']/df['subtotal_ordercount_recent_30days']

In [ ]:
#Creating a column to look at the number of days on app
df['nr_days_on_app'] =(df['max_date_time'] - df['regist_date']).dt.days

In [ ]:
df['Months_Active'] = ((df['max_date_time'] - df['regist_date']) / np.timedelta64(1, 'M')).round()

In [ ]:
df.lastorder_usecase.unique()

In [ ]:
df['lastorder_platform'].unique()

In [ ]:
df['transaction_platform'].unique()

In [ ]:
df['transaction_classification'].unique()

In [ ]:
df.replace([np.inf, -np.inf], 0, inplace=True) #replace inf with 0

In [ ]:
df.head()

In [ ]:
df.select_dtypes(include=np.number).columns.tolist()

In [ ]:
df.corr()['target'].sort_values(ascending=False).plot(kind='bar')

In [ ]:
df_numeric = df.drop(columns=['hashed_user_id','regist_date','lastorder_orderdate','transaction_classification','lastorder_platform','lastorder_usecase','max_date_time','Unnamed: 0'])

In [ ]:
df_numeric.dtypes

In [ ]:
df_numeric = df_numeric.query('year_month <202301') #drops january

In [ ]:
df_numeric.corr()['target'].drop(['target','year_month']).sort_values(ascending=False).plot(kind='barh')

In [ ]:
sns.boxplot(data=df_numeric,x='year_month',y='nr_days_interacted',hue='target')

In [ ]:
q1_interactions = df_numeric['nr_interactions'].quantile(0.25)
q3_interactions = df_numeric['nr_interactions'].quantile(0.75)
iqr = q3_interactions -q1_interactions
q1_interactions, q3_interactions, iqr

In [ ]:
df_numeric['nr_interactions'].describe().round(3)

In [ ]:
upperlimit = q3_interactions + (1.5 *iqr)
lowerlimit = q3_interactions - (1.5 *iqr)
upperlimit, lowerlimit

In [ ]:
df_numeric['nr_interactions'].dtype, upperlimit.dtype, lowerlimit.dtype

In [ ]:
df_numeric.loc[((df_numeric['nr_interactions'].astype(float) > upperlimit) | (df_numeric['nr_interactions'].astype(float) < lowerlimit))]

In [ ]:
df_numeric['nr_interactions'].describe().round(3)

In [ ]:
sns.boxplot(data=df_numeric,x='year_month',y='nr_interactions')

In [ ]:
df_numeric.isna().sum()

In [ ]:
df_numeric.groupby('lastorder_platform')['Avg_spend_per_order_30days'].plot(kind='bar')

In [ ]:
df['lastorder_usecase'].unique()

In [ ]:
df['lastorder_platform'].unique()

In [ ]:
#Month_End_Exp=0
#while (df['lastorder_orderdate'].dt.day > 24) & (df['lastorder_orderdate'].dt.day < df['lastorder_orderdate'].dt.days_in_month+1):
 #       Month_End_Exp++
  #      df['Month_End_Exp']=Month_End_Exp
#df['Month_End_Exp'] = df.groupby(df.loc[(df['lastorder_orderdate'].dt.day > 24) & 
 #                    (df['lastorder_orderdate'].dt.day < df['lastorder_orderdate'].dt.days_in_month+1)]).mean()
    
df['Month_End_Exp'] = df.apply(lambda x: df.loc[(df['lastorder_orderdate'].dt.day > 24) & 
                                                  (df['lastorder_orderdate'].dt.day < df['lastorder_orderdate'].dt.days_in_month+1), 
                                                   ['nr_interactions']].mean(), axis=1)
df

In [ ]:
df_numeric.corr()

In [ ]:
sns.heatmap(df_numeric.corr())

In [ ]:
df_numeric.corr()['target'].sort_values(ascending=False).plot(kind='bar')

In [ ]:
df_numeric.corr()['target'].sort_values(ascending=False)

In [ ]:
df_numeric_2 = df_numeric.drop(columns=['year_month','unique_search_terms'
                                       ,'search_events','subtotal_ordercount_recent_7days'])

In [ ]:
df_numeric_2.corr()['target'].sort_values(ascending=False)

In [ ]:
df_numeric.dtypes

In [ ]:
df_numeric_2.head()

In [ ]:
df_numeric_2['nr_days_interacted'].isna().sum()

In [ ]:
df_numeric_2=df_numeric_2.replace(to_replace=np.nan,value=0, regex=True)
df_numeric_2.reset_index()
df_numeric_2['Interacted_and_card_linked'] = np.where((df_numeric_2.nr_days_interacted >5) & (df_numeric_2.is_bind_card == 1), 1, 0)

df_numeric_2['Interacted_Mobile'] = np.where((df_numeric_2.nr_days_interacted >1) & (df_numeric_2.Platform_Code == 1), 1, 0)

df_numeric_2['Interacted_Mobile_card_linked'] = np.where((df_numeric_2.Platform_Code == 1) & (df_numeric_2.nr_days_interacted >1) & (df_numeric_2.is_bind_card == 1), 1, 0) 

df_numeric_2['Mobile_card_linked'] = np.where((df_numeric_2.Platform_Code == 1) & (df_numeric_2.is_bind_card == 1), 1, 0) 

df_numeric_2['Interacted_ordered30d_cardlinked'] = np.where((df_numeric_2.nr_days_interacted >1) & (df_numeric_2.subtotal_ordercount_recent_30days >1) &(df_numeric_2.is_bind_card == 1), 1, 0)

df_numeric_2['uniq_pgs_mean'] = df_numeric_2.groupby(['nr_unique_pages_visited'])['Months_Active'].mean()

df_numeric_2['Card_linked_order30days'] = np.where((df_numeric_2.is_bind_card ==1) & (df_numeric_2.subtotal_ordercount_recent_30days >1500), 1, 0)

df_numeric_2['all_interactions'] = df_numeric_2['nr_interactions'] / df_numeric_2['unique_app_visits']

df_numeric_2['ordercount30d_per_nr_interactions'] = df_numeric_2['subtotal_ordercount_recent_30days'] + df['nr_interactions']

df_numeric_2['interacted_spend'] = np.where((df_numeric_2.nr_interactions>1) & (df_numeric_2.subtotal_ordercount_recent_30days >1500), 1, 0)

#df_numeric_2[''] = ['lastorder_orderdate'].dt.day > 24) & (df['lastorder_orderdate'].dt.day < df['lastorder_orderdate'].dt.days_in_month+1

In [ ]:
df_numeric_2.corr()['target'].sort_values(ascending=False)

In [ ]:
from sklearn.feature_selection import VarianceThreshold
VarThresh = VarianceThreshold(threshold=5)
VarThresh.fit(df_numeric_2)
VarThresh.get_support()

In [ ]:
df_numeric_2.columns

In [ ]:
df_numeric_2.isna().sum()

In [ ]:
from sklearn.feature_selection import mutual_info_classif

features = df_numeric_2.drop(columns=['target'])
target = df_numeric_2['target']
feature_scores = mutual_info_classif(features, target, random_state=0)
feature_scores

In [ ]:
df_numeric.head()

In [ ]:
df_numeric = df_numeric.drop(columns=['unique_search_terms','search_events','hashed_user_id','subtotal_amount_today_daily'])

In [ ]:
df_numeric.corr()['target'].sort_values(ascending=False).plot(kind='bar')

In [ ]:
df_numeric.corr()['target']

In [ ]:
training_data = df_numeric.sample(frac=0.8, random_state=25)
testing_data = df_numeric.drop(training_data.index)

X = training_data.drop(columns=['target']) 
y = training_data['target'] #the data set with the predictions or the answers

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
#training the model with DecisionTreeClassifier
model = DecisionTreeClassifier() 
model.fit(X_train,y_train)
prediction = model.predict(X_test) #Run the model against the test data
score = accuracy_score(y_test, prediction) #calcucalte and show the accuracy of the model, score if between 0 and 1
score

In [ ]:
### Classification report
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score

rfc_predict_test = (model.predict_proba(X_test[X.columns])[:,1] >= 0.288).astype(bool)
rfc_cv_score = cross_val_score(model, X_test[X.columns], y_test, cv=5, scoring='roc_auc')

print("=== Confusion Matrix : Test ===")
print(confusion_matrix(y_test, rfc_predict_test))
print('\n')
print("=== Classification Report ===")
print(classification_report(y_test, rfc_predict_test))
print('\n')

In [ ]:
df_numeric.columns

In [ ]:
df_categorical=df.drop(columns=['target', 'is_bind_card', 'subtotal_amount_recent_7days',
       'subtotal_amount_recent_30days', 'subtotal_ordercount_today_daily',
       'subtotal_ordercount_recent_7days', 'subtotal_ordercount_recent_30days',
       'nr_interactions', 'nr_days_interacted', 'nr_unique_pages_visited',
       'unique_app_visits', 'unique_app_category_visits', 'year_month',
       'Days_since_active_in_month'])

In [ ]:
df_categorical

In [ ]:
from dython import nominal
nominal.associations(df,figsize=(20,10),mark_columns=True)

In [ ]:
df_plot_corr

In [ ]:
df.groupby('target')['unique_app_visits'].value_counts(bins=8,normalize=True)*100

### Last Order UseCase

#### Stats

Looking at the below stats you can visibly see that the percentage of the last order of active users  on mobile is double as compared to the users who are inactive

In [ ]:
df.groupby('target')['lastorder_usecase'].value_counts(normalize=True)*100

#### Graph

In [ ]:

x,y = 'target', 'lastorder_usecase'
ax = sns.catplot,'data',
(df

.groupby(x)[y]
.value_counts(normalize=True)
.mul(100)
.rename('percent')
.reset_index()
.pipe((ax), x='percent',y=y,hue=x,kind='bar',palette='Set1')
.set(title='Last Order Use Case', xlabel='Percent', ylabel='Order Type'))

# Data Cleaning

In [ ]:
#Change Date from Object to DateTime
df['max_date_time']=pd.to_datetime(df['max_date_time'])
df['regist_date']=pd.to_datetime(df['regist_date'])
df['lastorder_orderdate']=pd.to_datetime(df['lastorder_orderdate'])

In [ ]:
df['regist_date']

In [ ]:
#create column month in df to see activity visuals where needed
df['lastorder_month']=df['lastorder_orderdate'].dt.to_period('M')

In [ ]:
df.query('year_month <202301')\
.groupby('target')['lastorder_month'].value_counts(normalize=True)*100

In [ ]:
df.groupby('target')['lastorder_orderdate'].value_counts(normalize=True)

In [ ]:
#Check the number of columns with no values
nan_count = df.isna().sum()
print(nan_count )

In [ ]:
#create column month in df to see activity visuals where needed
df['regist_month']=df['regist_date'].dt.to_period('M')

In [ ]:
#Dropping Columns that won't be used
df=df.drop(['Unnamed: 0'],axis=1)

In [ ]:
df.head(20)

In [ ]:
df['lastorder_usecase'].unique()

In [ ]:
df['lastorder_platform'].unique()

In [ ]:
sns.swarmplot(data=df,x='lastorder_usecase',y='lastorder_platform',hue='target').sample(100)

## Original Data Frame Visuals

### Last Order Graph

#### The graph below is a visualization of what customers have spent on the app in 30 days

In [ ]:
x,y = 'lastorder_usecase', 'subtotal_amount_recent_30days'
ax=sns.catplot,'data'
(df
.query('subtotal_amount_recent_30days>1')
.groupby(x)[y]
.sum()
 .sort_values(ascending=False)
.rename('sum')
.reset_index()
.pipe((ax), x='sum',y=x,kind='bar',log=True,color='#377eb8')
.set(title='Last Order Use Case', xlabel='Sum', ylabel='Order Type'))

### Last Order Date

The below graph is the number of orders on a specific day grouped by a users categorized as active or inactive,normalized and converted into percentage for better visualization.

An interesting trend you can see on the active is that between the 20th and the last day of the month,the activity is high due to the fact that users have have been paid

In [ ]:

x,y = 'target', 'lastorder_orderdate',
ax = sns.catplot,'data',

(df

.query('year_month <202301')
 #.query("target == 'active'")
.groupby(y)[x]
.value_counts()
#.value_counts(normalize=True)
#.mul(100)
.rename('Percent')
.reset_index()

.pipe((ax), x=y,y='Percent',hue=x,palette='Set1')
 .set_xticklabels( rotation=90)
 .set(title='Last Order Date Percentage', xlabel='Last Order Date')
.ax.xaxis.set_major_locator(ticker.MultipleLocator(5))

)

In [ ]:
df.columns

In [ ]:
#filtered only to records between 25th and 31st
df_monthend = df.loc[(df['lastorder_orderdate'].dt.day > 24) & 
                     (df['lastorder_orderdate'].dt.day < df['lastorder_orderdate'].dt.days_in_month+1)]
df_monthend

## User Registrations Monthly

#### Below it is seen that there is a high number of registrations on the lauch of the app which was October 2021 and had the R1 promotion

#### Another spike October and November 2022 when there was campaign to win away a share of R1 million to 20 lucky winners between the 10 and 31 October 2022

In [ ]:

x,y = 'regist_month', 'hashed_user_id'
ax = sns.catplot,'data',
(df
.groupby(x)[y]
.count()
.rename('count')
.reset_index()

.pipe((ax), x=x,y='count',kind='bar',color='#e41a1c')
.set(title='User Monthly Registrations', xlabel='Registered Month', ylabel='Number of Registrations')

.set_xticklabels( rotation=90))

## User Spend Behavour

#### From the below it is clear that there is a slight correlation to registrations on app and the spenditure on the app,especially on the launch month.
###

In [ ]:
x,y='regist_month','subtotal_amount_recent_30days'
ax=sns.catplot,'data'
(df
.groupby(x)[y]
.sum()
.rename('sum')
.reset_index()
.pipe((ax), x=x,y='sum',kind='bar',color='#377eb8')
.set(title='Montly Amount Spent ', xlabel='Registered Month', ylabel='Amount')

.set_xticklabels( rotation=90))

# Data Preparation

What was noticed from our dataset is that the month of Jan 2023 there are no active users,only inactive users and we came to the conclusion to remove the data from our analysis.
 
Looking at the graphs below it is clear that this information can scew our predictions and data analysis

In [ ]:

(
sns.barplot(data=df,x='year_month',y='nr_unique_pages_visited',hue='target',palette='Set1')
.set(title='Unique Pages Visited Per Month ', xlabel='Month of Year', ylabel='Unique Pages Visited'))

### Creating DataFrame A

#### This dataframe is created to drop unnecessary columns in our point of view and rearrange our columns

In [ ]:
#Dropping columns we won't need and naming the df
df_a=df_numeric_2
df_a.head()

In [ ]:
#Re-arranging columns in df
df_a = df.reindex(columns=['target','is_bind_card','hashed_user_id','regist_date','months_active','year_month',
                           'unique_app_visits','nr_days_on_app','nr_interactions',
                           'subtotal_amount_recent_30days','subtotal_ordercount_recent_30days',
                           'nr_days_interacted','max_date_time','nr_unique_pages_visited','lastorder_orderdate','lastorder_usecase'])

In [ ]:
df_a.head()

### Creating DataFrame B

#### The dataframe is created to drop data from 202301 as all users in this month are inactive

## Using Card

#### The number of users that spending and interacting more on the app are the ones who have binded thier card on the app

In [ ]:
(df.groupby(['is_bind_card'])
.agg({'subtotal_amount_recent_30days' : ['sum'],'nr_interactions':['sum']})
[['subtotal_amount_recent_30days','nr_interactions']].apply(lambda x: 100*x/x.sum())

)
#sns.barplot(data=df, x="is_bind_card", y="sum")
#.agg({'user_count':['mean'],'nr_days_on_app':['mean'],'nr_interactions':['mean'],'subtotal_amount_recent_30days':['mean']})

In [ ]:
df_b=df_a
(df_b
 .groupby(['is_bind_card'])[['subtotal_amount_recent_30days','nr_interactions']]
.sum()
.apply(lambda x: 100*x/x.sum())  
.plot(kind='bar', ylabel='Percentage',xlabel='Bind Card',title='Binded Card',color = ['#377eb8', '#e41a1c'])
)

In [ ]:

(df_b
 .groupby(['is_bind_card'])[['subtotal_amount_recent_30days','nr_interactions']]
.sum()
.apply(lambda x: 100*x/x.sum())
#.rename('Percent')
.reset_index()         
)
#sns.barplot('data', x="is_bind_card", y='sum')
#.sum()
# .sort_values(ascending=False)
#.rename('sum')
#.reset_index()

### Query  Active and Inactive

In [ ]:
df_active=df_b.query("target == 1")
df_active.sort_values('nr_days_on_app')\
.head(10)

In [ ]:
df_inactive=df_b.query("target == 0")
df_inactive.head()

### User activity on months

#### What we have noticed on the users that have been flagged as inactive is that the number of interactions do not grow as the months increase

#### This column (months_active) is one we created to to visualize how many months have users that are active or inactive been on the app

In [ ]:
sns.barplot(data=df_b,x='months_active',y='nr_interactions',hue='target',palette='Set1')

The histogram below is an indication that the outlier number of interactions are caused by the Jan 2023 data all being tagged as inactive users, as compared to the 2 graphs below once we have dropped the January 2023 data the outliers have been removed from the database

In [ ]:
df['nr_interactions'].hist(by=df['target'],log=True)

In [ ]:
df_b['nr_interactions'].hist(by=df_b['target'],log=True,color='#e41a1c')

### 30 Days Order Count

In [ ]:
active=df_b.query("target == 'active'")['nr_interactions'].value_counts(bins=5,normalize=True)
active

In [ ]:
inactive=df_b.query("target == 'inactive'")['nr_interactions'].value_counts(bins=5,normalize=True)
inactive

#### Below it is clearly seen that the order count for recent 30 days on the inactive users is very low.The order count is less than 100 and most are not spending on the app as compared to the active users

In [ ]:
bins=[0,2000,4000,8000,16000]

plt.hist(active,bins=bins,log=True,label='active',alpha=1)
plt.hist(inactive,bins=bins,log=True,label='inactive',alpha=1,color='#FFCF56')
plt.legend(loc='best')
plt.title('Interactions')

### 30 Days Amount

In [ ]:
seriesA=df_b.query("target == 'active'")['subtotal_amount_recent_30days'].value_counts(normalize=True)
seriesB=df_b.query("target == 'inactive'")['subtotal_amount_recent_30days'].value_counts(normalize=True)

In [ ]:
bins=[0,5000,10000,20000,40000,60000,100000]
plt.hist(seriesA,bins=bins,log=True,label='active',alpha=1)
plt.hist(seriesB,bins=bins,log=True,label='inactive',alpha=1,color='#FFCF56')
plt.legend(loc='best')
plt.title('30 Days Amount')

In [ ]:
df_b.head

# Model Building

In [ ]:
df_b.groupby(['target'])\
.agg({'unique_app_visits':['mean'],'Months_Active':['mean'],'nr_days_on_app':['mean'],'nr_interactions':['mean'],'subtotal_amount_recent_30days':['mean']})

In [ ]:
df_b.dtypes

In [ ]:
df_b.isna().sum()

In [ ]:
df_b.head()

In [ ]:
#replace the -1s with NaN
df_b=df_b.replace(to_replace='-1',value=np.nan, regex=True)

In [ ]:
df_b.isna().sum()

In [ ]:
df_b.columns

In [ ]:
#df_c=df_b.drop(columns=['Interacted_and_card_linked','nr_unique_pages_visited','Avg_apps_per_cat_visited','unique_app_visits','subtotal_amount_today_daily','subtotal_amount_recent_7days'],axis=1)

df_c=df_b
df_c.head()

In [ ]:
df_c.head()

In [ ]:
df_c.isna().sum()

In [ ]:
df_c.corr()['target'].sort_values(ascending=False)

#plot data for presentation slide 12

In [ ]:
df_c=df_c.drop(columns=['avg_inter_per_month','Avg_apps_per_cat_visited'])
df_c.corr()['target']

sns.heatmap(df_c.corr())

In [ ]:
df_numeric = df_numeric.drop(columns=['Avg_apps_per_cat_visited'])

In [ ]:
df_numeric.isna().sum()

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#df_dtc=df_c.drop(columns=['lastorder_orderdate'])
df_dtc=df_numeric
X=df_dtc.drop(columns=['target'])
y=df_dtc['target']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

model=DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions=model.predict(X_test)
score=accuracy_score(y_test,predictions)
score

In [ ]:
### Classification report
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score

rfc_predict_test = (model.predict_proba(X_test[X.columns])[:,1] >= 0.288).astype(bool)
rfc_cv_score = cross_val_score(model, X_test[X.columns], y_test, cv=5, scoring='roc_auc')

print("=== Confusion Matrix : Test ===")
print(confusion_matrix(y_test, rfc_predict_test))
print('\n')
print("=== Classification Report ===")
print(classification_report(y_test, rfc_predict_test))
print('\n')

In [ ]:
plt.figure(figsize=(24, 10))
# Store heatmap object in a variable to easily access it when you want to include more features (such as title).
# Set the range of values to be displayed on the colormap from -1 to 1, and set the annotation to True to display the correlation values on the heatmap.
heatmap = sns.heatmap(X_test.corr(), vmin=-1, vmax=1, annot=True)
# Give a title to the heatmap. Pad defines the distance of the title from the top of the heatmap.
heatmap.set_title('Correlation Heatmap', fontdict={'fontsize':12}, pad=12);

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#clf_knc = df_c.drop(columns=['months_active'])


clf_knc = SVC(kernel='linear',C=3)
clf_knc.fit(X_train, y_train)

clf_knc.score(X_test,y_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

clf_2 = KNeighborsClassifier(n_neighbors=3)
clf_2.fit(X_train, y_train)
clf_2.score(X_test,y_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
#from sklearn.datasets import make_Classification

df_rfc=df_c.drop(columns=['lastorder_orderdate','lastorder_usecase',])
X=df_rfc.drop(columns=['target'])
y=df_rfc['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf_rfc = RandomForestClassifier()
clf_rfc.fit(X_train, y_train)
clf_rfc.feature_importances_

predictions=model.predict(X_test)
score=accuracy_score(y_test,predictions)
score

In [ ]:
predictions=model.predict(X_test)
score=accuracy_score(y_test,predictions)
score

# Conclusion

#### We can assume that the machine learning build was a success looking at the output of 90 percent