In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df_boosters = pd.read_excel("SGS_Cell-Extender.xlsx")
df_sites = pd.read_excel("SGS_Site_List_20230802.xlsx")

In [3]:
df_boosters.head()

,RoproProjectID,SecondCutRefID,RemedyRefID,ProjectSubType,RequestedBy,RequestedDate,CreatedBy,CreatedOn,Status,ProjectStatus,...,Latitude,Longitude,CBU/EBU,EquipmentType,TrialDate,MSISDN,Segment,CompanyName,AccountNumber,AverageSpend
0,A36QEV,INC0N0013121717,INC0N0013121717,CELL_EXTENDER,Stephen Ramalepa,2023-07-14,ramalest,2023-07-14,Open,O,...,-26.304840,28.196073,CBU,Cel-Fi Duo Dual-Band Smart Repeater,2023-07-12,0795817752,NaN,NaN,NaN,NaN
1,A36QDI,INC0N0012981409,INC0N0012981409,CELL_EXTENDER,Sipho Tshelane,2023-07-05,tshelanes,2023-07-05,Open,O,...,-26.350424,28.105366,NaN,Cel-Fi Duo Dual-Band Smart Repeater,2023-06-28,0761687785,NaN,NaN,NaN,NaN
2,A36QD8,INC0N0013024776,INC0N0013024776,CELL_EXTENDER,Sipho Tshelane,2023-07-03,tshelanes,2023-07-03,Open,O,...,-26.272593,28.027592,NaN,Cel-Fi Duo Dual-Band Smart Repeater,2023-06-28,0713785431,NaN,NaN,NaN,667.3454
3,A36QD6,INC0N0013035579,INC0N0013035579,CELL_EXTENDER,Sipho Tshelane,2023-07-03,tshelanes,2023-07-03,Open,O,...,-26.177059,28.032081,NaN,Cel-Fi Go-X,2023-06-27,0824433330,Medium Enterprises,TIM DU TOIT & KIE,N2682957,2906.0386
4,A36QD5,INC0N0012837167,INC0N0012837167,CELL_EXTENDER,Sipho Tshelane,2023-07-03,tshelanes,2023-07-03,Open,O,...,-26.183005,28.562718,NaN,Cel-Fi Duo Dual-Band Smart Repeater,2023-06-28,0837774447,Medium Enterprises,GROUND WATER PRAC,B0023782,1539.7562

In [4]:
df_sites.head()

  Site_ID Lat Long            First Live       County
0     NaN            2017/03/13 00:00:00          UNK
1     NaN            2018/04/28 00:00:00          UNK
2     NaN            2020/02/06 00:00:00   Deep South
3     NaN            2020/02/06 00:00:00          UNK
4     NaN            2020/05/15 00:00:00   Deep South

In [15]:
df_sites.isna().value_counts()

Site_ID  Lat    Long   First Live  County
False    False  False  False       False     6431
True     False  False  False       False       11
Name: count, dtype: int64

In [17]:
df_sites = df_sites.dropna(subset=['Site_ID'], axis="index") #delete rows with null site ids

In [18]:
df_sites.head()

     Site_ID        Lat       Long            First Live      County
11  SGS_1001 -25.976379  27.852592   2016/12/03 00:00:00   Jozi West
12  SGS_1001 -25.976379  27.852592   2016/12/14 00:00:00   Jozi West
13  SGS_1001 -25.976379  27.852592   2018/08/11 00:00:00   Jozi West
14  SGS_1001 -25.976379  27.852592   2020/09/01 00:00:00   Jozi West
15  SGS_1001 -25.976379  27.852592   2020/09/23 00:00:00   Jozi West

In [19]:
df_sites.isna().value_counts()

Site_ID  Lat    Long   First Live  County
False    False  False  False       False     6431
Name: count, dtype: int64

In [21]:
df_boosters.isna().value_counts().sum()

1056

In [22]:
df_boosters.columns

Index(['RoproProjectID', 'SecondCutRefID', 'RemedyRefID', 'ProjectSubType',
       'RequestedBy', 'RequestedDate', 'CreatedBy', 'CreatedOn', 'Status',
       'ProjectStatus', 'Region', 'County', 'CurrentTask', 'CurrentQueue',
       'CurrentTaskCreated', 'LastUpdatedBy', 'LastUpdatedDate', 'ClientName',
       'ClientNumber', 'ClientAddress', 'Latitude', 'Longitude', 'CBU/EBU',
       'EquipmentType', 'TrialDate', 'MSISDN', 'Segment', 'CompanyName',
       'AccountNumber', 'AverageSpend'],
      dtype='object')

In [ ]:
df_boosters = df_booster.drop(columns=['RoproProjectID', 'RoproProjectID', 'RemedyRefID', 'ProjectSubType',
       'RequestedBy', 'CreatedBy', 'Status', 'ProjectStatus', 'Region', 'County', 'CurrentTask', 'CurrentQueue',
       'CurrentTaskCreated', 'LastUpdatedBy', 'LastUpdatedDate', 'ClientName',
       'ClientNumber', 'ClientAddress', 'Latitude', 'Longitude', 'CBU/EBU',
       'EquipmentType', 'TrialDate', 'MSISDN', 'Segment', 'CompanyName',
       'AccountNumber', 'AverageSpend'])